alabaster==1.0.0
alembic==1.13.3
anesthetic==2.8.14
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
autoconf==2024.9.21.2
autofeat==2.1.3
babel==2.16.0
blinker==1.8.2
boto3==1.35.49
botocore==1.35.49
cachetools==5.5.0
catboost==1.2.7
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
colorlog==6.8.2
comm==0.2.2
contourpy==1.3.0
corner==2.2.2
cycler==0.12.1
databricks-sdk==0.36.0
debugpy==1.8.7
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.9
docker==7.1.0
docutils==0.21.2
dynesty==2.1.4
emcee==3.1.6
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.3
fastjsonschema==2.20.0
Flask==3.0.3
flexcache==0.3
flexparser==0.3.1
fonttools==4.54.1
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
gprof2dot==2021.2.21
graphene==3.4
graphql-core==3.2.5
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
h5py==3.12.1
idna==3.10
imagesize==1.4.1
implicit==0.7.2
importlib_metadata==8.4.0
ipykernel==6.29.5
ipython==8.28.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonpickle==3.3.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
llvmlite==0.43.0
Mako==1.3.6
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mlflow==2.17.1
mlflow-skinny==2.17.1
mpmath==1.3.0
mypy-extensions==1.0.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
numba==0.60.0
numpy==1.26.4
numpydoc==1.8.0
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
optuna==4.0.0
optuna-integration==4.0.0
packaging==24.1
pandas==2.2.3
parso==0.8.4
pathlib==1.0.1
pexpect==4.9.0
pillow==11.0.0
Pint==0.24.3
platformdirs==4.3.6
plotly==5.24.1
prompt_toolkit==3.0.48
protobuf==5.28.3
psutil==6.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pyparsing==3.2.0
pyprojroot==0.2.0
pyswarms==1.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pyvis==0.3.2
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
rsa==4.9
ruff==0.7.0
s3transfer==0.10.3
scikit-learn==1.5.2
scipy==1.14.0
seaborn==0.13.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.32
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.41.2
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.2.0
timeout-decorator==0.5.0
tomli==2.0.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.32.0
wcwidth==0.2.13
Werkzeug==3.0.6
widgetsnbextension==4.0.13
wrapt==1.16.0
xxhash==3.4.1
zipp==3.20.2
